<form action="/todo" method="POST" style="display: inline;">
  <div class="input-group">
    <input name="name" placeholder="name" type="text" class="form-control">
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>
<a href="/">back</a>